<h1><%=@task.title %></h1> <br>

<%= @task.details %> <br> <br>
<input type="checkbox" <%= @task.completed ? "checked": "" %>> <%= @task.completed ? "this task is completed " : "this task is not completed yet" %> <br><br>
<button class="btn btn-info"><%= link_to "Back to list", tasks_path %></button>

<button class="btn btn-danger"><%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></button>

<button class="btn btn-success"><%= link_to "Edit this Task", edit_task_path %></button>
